<body class="background-light">
  <section class="container">
    <div class="pad-tb-3 text-center">
      <h2>Hello There!</h2>
      <p class="paragraph">
        This is a task demonstrating my knowledge developing applications with
        Angular.
      </p>
    </div>
  </section>

  <section class="container">
    <form [formGroup]="validationForm">
      <div class="mb-1">
        <label for="input">Input:</label>
        <input
          type="text"
          formControlName="input"
          (keyup)="onKeyUp($event)"
          [ngClass]="isNotNumber ? 'invalid-form' : 'form-control'"
        />
        <small class="invalid-feedback" *ngIf="isNotNumber">
          Error: invalid value provided.
        </small>
      </div>

      <div class="mb-1">
        <label for="output">Output:</label>
        <input
          disabled
          type="text"
          class="form-control"
          formControlName="output"
          [value]="output"
        />
      </div>
    </form>
  </section>
  <footer class="footer text-center container">© MyWebsite 2020</footer>
</body>
